body{
        background-color:teal
	}
header{
        background-color:skyblue
	}
th, td{
        border:2px solid;
        border-collapse:collapse;
	background color:skyblue;
        }
p{
	font-family:"impact";
}
h1{
	font-family:"roboto";
}	
